@import 'tailwindcss';
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Custom font theme for Tailwind */
:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Custom button fixes */
@layer components {
    .btn-fix {
        color: white !important;
        text-decoration: none !important;
    }
}
